%p= "Welcome to Phrasebook, #{@user.name}!"
%p= "You have successfully signed up to Phrasebook and your username is #{@user.email}. To login to the site, please follow this link: #{@url}."
%p= "Thank you for participating!"
