%p= "Hallo, #{@user.name}!"
%p= "Sie haben, Du hast, nun das Miteinander-Benutzerkonto unter der Adresse #{@user.email} aktiviert."
%p!= "Zum Anmelden bitte diesem Link folgen:<br/>"+link_to(@url, @url)
