%p= "أهلا وسهلا بك في Miteinander, #{@user.name}!"
%p!= "لقد قمت بالتسجيل بالبريد الإلكتروني #{@user.email} لدى Miteinander. إضغط على الرابط التالي من فضلك لتتمكن من تفعيل حسابك: <br/>"+link_to(@url, @url)
%p= "شكرا جزيلا لمساهمتك معنا!"
