= simple_form_for @translation, html: {multipart: true} do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2= t('simple_form.error_notification.default_message')
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-6.columns
      = f.association :phrase, collection: @phrases, selected: selected_phrase_id
    .large-6.columns
      = render partial: "application/record_with_#{browser.audio_recording_capabilities.first}", locals: {f: f, i: @translation}
  .row
    .large-6.columns
      = f.input :original
    .large-6.columns
      = f.input :transliteration
  .row
    .large-6.columns
      = f.input :language, collection: @languages, selected: selected_language, include_blank: true
    .large-6.columns
      = f.input :source_country, collection: @countries, selected: selected_source_country, include_blank: true
  .row
    .large-12.columns
      = f.label :save_and
      %ul.button-group
        = f.submit t('.commit_add_translation'), {name: 'commit[new_translation]', class: 'button'}
        = f.submit t('.commit_next_untranslated_phrase'), {name: 'commit[next_untranslated_phrase]', class: 'button'} if next_untranslated_phrase
        = f.submit t('.commit_new_phrase'), {name: 'commit[new_phrase]', class: 'button'}
        = f.submit t('.commit_show_list'), {name: 'commit[show_list]', class: 'button'}
%h1 Test test
