= simple_form_for @translation, html: {multipart: true} do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2= t('simple_form.error_notification.default_message')
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg
  = f.association :phrase, collection: @phrases, selected: selected_phrase_id
  = f.input :original
  = f.input :transliteration
  = render partial: "application/record_with_#{browser.audio_recording_capabilities.first}", locals: {f: f, i: @translation}
  = f.input :language, collection: @languages, selected: selected_language, include_blank: true
  = f.input :source_country, collection: @countries, selected: selected_source_country, include_blank: true
  = f.label :save_and
  = f.submit t('.commit_add_translation'), name: 'commit[new_translation]'
  = f.submit t('.commit_next_untranslated_phrase'), name: 'commit[next_untranslated_phrase]' if next_untranslated_phrase
  = f.submit t('.commit_new_phrase'), name: 'commit[new_phrase]'
  = f.submit t('.commit_show_list'), name: 'commit[show_list]'
