= form_for @translation do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@translation.errors.count, "error")} prohibited this translation from being saved:"
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :phrase
    = f.text_field :phrase
  .field
    = f.label :original
    = f.text_area :original
  .field
    = f.label :transliteration
    = f.text_area :transliteration
  .field
    = f.label :rec_filename
    = f.text_field :rec_filename
  .field
    = f.label :rec_filetype
    = f.text_field :rec_filetype
  .field
    = f.label :rec_contents
    = f.text_field :rec_contents
  .field
    = f.label :lang
    = f.text_field :lang
  .field
    = f.label :country
    = f.text_field :country
  .actions
    = f.submit 'Save'
