#audio_recorder.getusermedia
  = f.input :recording, as: :hidden
  = f.label :recording
  = button_tag t('.play'), id: :play_stop, type: nil, name: nil, data: {play: t('.play'), stop: t('.stop')}, style: ('display:none;' unless @translation.recording_data)
  - if @translation.recording_data
    %audio{src: translation_path(@translation, format: :ogg)}
    = button_tag t('.overwrite'), id: :record, type: nil, name: nil, data: {record: t('.overwrite'), stop: t('.stop')}
  - else
    %audio{controls: false}
    = button_tag t('.record'), id: :record, type: nil, name: nil, data: {record: t('.record'), stop: t('.stop')}
