%h1 Listing translations

%table
  %thead
    %tr
      %th Phrase
      %th Original
      %th Transliteration
      %th Rec filename
      %th Rec filetype
      %th Rec contents
      %th Lang
      %th Country
      %th
      %th
      %th

  %tbody
    - @translations.each do |translation|
      %tr
        %td= translation.phrase.text
        %td= translation.original
        %td= translation.transliteration
        %td= translation.rec_filename
        %td= translation.rec_filetype
        %td= translation.rec_contents
        %td= translation.lang
        %td= translation.country
        %td= link_to 'Show', translation
        %td= link_to 'Edit', edit_translation_path(translation)
        %td= link_to 'Destroy', translation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Translation', new_translation_path
