%p#notice= notice

%p
  %b Phrase:
  = @translation.phrase.text
%p
  %b Original:
  = @translation.original
%p
  %b Transliteration:
  = @translation.transliteration
%p
  %b Language:
  = @translation.language
%p
  %b Country:
  = @translation.source_country

= link_to 'Edit', edit_translation_path(@translation)
