= simple_form_for @phrase, html: {multipart: true} do |f|
  - if @phrase.errors.any?
    #error_explanation
      %h2= t('simple_form.error_notification.default_message')
      %ul
        - @phrase.errors.full_messages.each do |msg|
          %li= msg
  = f.input :text
  = render partial: "application/record_with_#{browser.audio_recording_capabilities.first}", locals: {f: f, i: @phrase}
  = f.input :tags
  = f.label :save_and
  = f.submit t('.commit_add_translation'), name: 'commit[new_translation]'
  = f.submit t('.commit_new_phrase'), name: 'commit[new_phrase]'
