= form_tag(phrases_path, method: :get, id: :search, class: 'search-bar', role: :search) do
  = text_field_tag :search, params[:search], placeholder: 'Thema oder Wort?', type: :search, autofocus: true
  = button_tag type: :submit do
    = image_tag 'search-icon-black.png', alt: 'Suchen'
#phrases_list
  = render @phrases
