%p#notice= notice

%p
  %b Text:
  = @phrase.text
%p
  %b Tags:
  = @phrase.tags
%p
  %b Rec filename:
  = @phrase.rec_filename
%p
  %b Rec filetype:
  = @phrase.rec_filetype
%p
  %b Rec contents:
  = @phrase.rec_contents
%p
  %b Usefulness:
  = @phrase.usefulness

= link_to 'Edit', edit_phrase_path(@phrase)
