= simple_form_for(@user) do |f|
  = f.error_notification
  .row
    .large-6.columns= f.input :name, required: true
    .large-6.columns= f.input :email, required: true
  .row
    .large-6.columns= f.input :password, required: true
    .large-6.columns= f.input :password_confirmation, required: true
  .row
    .large-12.columns= f.button :submit, 'Benutzerkonto anlegen', class: 'full-width button'
