= simple_form_for(@user) do |f|
  = f.error_notification
  = f.input :name, required: true
  = f.input :email, required: true
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  = f.button :submit, 'Benutzerkonto anlegen', class: 'button'
  -# TODO: i18n: إنشاء حساب
