= content_for(:article) do
  = t(:searches_info)
  %ul
    - @searches.each do |s|
      %li{class: s.yields_results ? 'succeeded' : 'failed'}
        = "#{s.text} (#{s.count}×)"
        %br
        = s.most_recent_timestamp.strftime("%Y-%m-%d, %H:%M:%S")
