= content_for(:article) do
  = t('.info', default: 'Red search requests yielded no results. Search results that yielded results have a grey background.')
  %ul
    - @searches.each do |s|
      %li{class: s.yields_results ? 'succeeded' : 'failed'}
        = "#{s.text} (#{s.count}×)"
        %br
        = s.most_recent_timestamp.strftime("%Y-%m-%d, %H:%M:%S")
