%h2 من نحن؟

%p هذا المشروع سيكون عونا للذين يرغبون بالتواصل مع الناس الذين لا يملكون لغة مشتركة معهم. ونحن متأكدون من خلال تجربتنا في هذا المجال أن الناس بإمكانها التواصل مع بعضها البعض بدون لغة مشتركة. في حالات الطوارئ والحياة اليومية نحتاج أحيانا لبعض العبارات للتواصل مع الناس الذين ليس بيننا لغة مشتركة. نحن نقوم بجمع هذه العبارات وتدقيقها واتاحتها بشكل مبسط للإستخدام.

%h2 التواصل

%p!= "عند وجود مشاكل أو أخطاء يسعدنا أن تتواصلوا معنا بإرسال رسالة عن طريق #{link_to 'GitHub', 'https://github.com/sixtyfive/phrasenbuch/issues'}. يسعدنا أن نتلقى اقتراحاتكم ومساعدتكم في تحسين الموقع."

%h2 هيئة التحرير

%p
  معهد الدراسات الشرقية تابع لجامعة مدينة لايبزيج
  %br/
  الأستاذ الدكتور Eckehard Schulz
  %br/
  Schillerstraße 6
  %br/
  04109 Leipzig

%p
  الهاتف: +49 341 97-37200
  %br/
  الفاكس: +49 341 97-37219

%p
  != "البريد الإلكتروني: #{link_to 'support@miteinander-phrasenbuch.de', 'mailto:support@miteinander-phrasenbuch.de'}"
  %br/
  != "للتواصل من أجل تحسين الموقع الرجاء من خلال #{link_to 'GitHub', 'https://github.com/sixtyfive/phrasenbuch/issues'}."

%ul
  %li= link_to(image_tag('planfisch.png', {id: :planfisch_logo}), 'http://die-planfische.de/')
  %li= link_to(image_tag('weitnahbei.png', {id: :weitnahbei_logo}), 'http://weitnahbei.de/')
  %li= link_to(image_tag('oilnet.png', {id: :oilnet_logo}), 'http://oilnet.de/')
