%h2 Impressum

%p
  Orientalisches Institut der Universität Leipzig
  %br/
  Prof. Dr. Eckehard Schulz
  %br/
  Schillerstraße 6
  %br/
  04109 Leipzig

%p
  Telefon: +49 341 97-37200
  %br/
  Telefax: +49 341 97-37219

%p!= "E-Mail: #{link_to 'support@miteinander-phrasenbuch.de', 'mailto:support@miteinander-phrasenbuch.de'}"

%p!= "Kontaktaufnahme zwecks Fehlerkorrektur, etc. bitte wenn möglich per #{link_to 'GitHub', 'https://github.com/sixtyfive/miteinander/issues'}!"

%ul
  %li= link_to(image_tag('planfisch.png', {id: :planfisch_logo}), 'http://die-planfische.de/')
  %li= link_to(image_tag('weitnahbei.png', {id: :weitnahbei_logo}), 'http://weitnahbei.de/')
  %li= link_to(image_tag('oilnet.png', {id: :oilnet_logo}), 'http://oilnet.de/')
