%h2 Über uns

%p Dieses Projekt soll eine Hilfe sein für all jene, die sich mit Menschen verständigen möchten oder müssen, mit denen sie keine gemeinsame Sprache teilen. Wir bei Miteinander sind zwar davon überzeugt, dass Menschen –auch ohne Sprache– immer Wege finden werden, miteinander in Kontakt zu treten. Oft, gerade in Alltags- oder Notfallsituationen, ist man aber aufgrund des Zeitmangels doch auf Worte angewiesen. Wir sammeln diese Worte, stellen durch redaktionelle Bearbeitung sicher, dass sie korrekt sind und machen sie auf einfache Weise verfügbar.

%h2 Kontakt

%p!= "Bei Fehlern oder Problemen freuen wir uns, über #{link_to 'GitHub', 'https://github.com/sixtyfive/phrasen/issues'} eine Nachricht zu bekommen. Wir nehmen dort auch gerne Korrekturen oder Erweiterungen entgegen!"

%h2 Impressum

%p
  Orientalisches Institut der Universität Leipzig
  %br/
  Prof. Dr. Eckehard Schulz
  %br/
  Schillerstraße 6
  %br/
  04109 Leipzig

%p
  Telefon: +49 341 97-37200
  %br/
  Telefax: +49 341 97-37219

%p!= "E-Mail: #{link_to 'support@miteinander-phrasenbuch.de', 'mailto:support@miteinander-phrasenbuch.de'}"

%p!= "Kontaktaufnahme zwecks Fehlerkorrektur, etc. bitte wenn möglich per #{link_to 'GitHub', 'https://github.com/sixtyfive/miteinander/issues'}!"

%ul
  %li= link_to(image_tag('planfisch.png', {id: :planfisch_logo}), 'http://die-planfische.de/')
  %li= link_to(image_tag('weitnahbei.png', {id: :weitnahbei_logo}), 'http://weitnahbei.de/')
  %li= link_to(image_tag('oilnet.png', {id: :oilnet_logo}), 'http://oilnet.de/')
