%h1 Themenkatalog
%ul
  %li= link_to('Alles was mit Medizin zu tun hat', tag_path(:medizin))
  %ul
    %li= link_to('Notfall', tag_path(:notfall))
    %li= link_to('Zahnarzt')
    %li= link_to('Pädiatrie')
  %li= link_to('Recht')
  %ul
    %li= link_to('Asylverfahren')
    %li= link_to('Strafrecht')
    %li= link_to('Arbeitsrecht')
  %li= link_to('Alltag')
  %ul
    %li= link_to('Begrüßung')
    %li= link_to('Lebensmittel/Essen')
    %li= link_to('Wohnung/Unterkunft', tag_path(:wohnung, :unterkunft))
%h1 &nbsp;
