%h1 Herzlich Willkommen bei Miteinander, dem Phrasenbuch!

%p Dieses Projekt soll eine Hilfe sein für all jene, die sich mit Menschen verständigen möchten oder müssen, mit denen sie keine gemeinsame Sprache teilen. Wir bei Miteinander sind zwar davon überzeugt, dass Menschen –auch ohne Sprache– immer Wege finden werden, miteinander in Kontakt zu treten. Oft, gerade in Alltags- oder Notfallsituationen, ist man aber aufgrund des Zeitmangels doch auf Worte angewiesen.

%h2 Wie funktioniert es?

%ul
  %li!= "Das #{link_to 'Phrasenbuch', phrases_url} sammelt, thematisch sortiert oder durchsuchbar, Sätze oder auch einzelne Wörter (wir nennen sie \"Phrasen\") und verschiedene Übersetzungen davon."
  %li!= "Die Phrasen sollen aus dem „echten Leben“, also von Ihnen, von Euch, kommen. Wir nehmen neue Vorschläge für Phrasen (gern auch bereits mit fremdsprachlichen Übersetzungen oder Tonaufnahmen) entgegen, prüfen sie noch einmal und schalten sie dann frei. Wer beim Sammeln mithelfen kann, bitte #{link_to('hier klicken', new_user_path)}!"
  %li Hat man eine Phrase gefunden, welche man dem Gegenüber mitteilen möchte, so kann man einfach das Lautsprechersymbol berühren (bzw. darauf klicken) und die Phrase wird angezeigt und vorgelesen.
  %li Möchte die/der Gesprächspartner/in antworten, so kann sie/er wiederum in ihrer/seiner Sprache nach einer passenden Antwort suchen und abermals das Lautsprechersymbol berühren und die Phrase wird dieses Mal auf Deutsch angezeigt und vorgelesen.

%p!= "Bei Fehlern oder Problemen freuen wir uns, über #{link_to 'GitHub', 'https://github.com/sixtyfive/miteinander/issues'} eine Nachricht zu bekommen. Wir nehmen dort auch gerne Korrekturen oder Erweiterungen entgegen!"

%h1 Viel Erfolg und auf ein allzeit gutes Miteinander!
