%h1 Herzlich Willkommen bei Miteinander, dem Phrasenbuch!

%p Dieses Projekt möchte eine Hilfe sein für all jene, die sich mit Menschen verständigen möchten oder müssen, mit denen sie keine gemeinsame Sprache der Worte teilen. Wir bei Miteinander sind zwar davon überzeugt, dass Menschen –auch ohne Sprache– immer Wege finden werden, miteinander in Kontakt zu treten. Oft, gerade in Alltags- oder Notfallsituationen, ist man aber aufgrund des Zeitmangels doch auf Worte angewiesen.

%h2 Wie funktioniert Miteinander?

%ul
  %li!= "Im #{link_to 'Phrasenbuch', phrases_url} gibt es, thematisch sortiert oder durchsuchbar, eine gewisse Menge an Sätzen oder auch einzelnen Wörtern (wir nennen sie \"Phrasen\")."
  %li Diese Liste wird zwar von unseren Redakteuren gepflegt, welche aber auf die Hilfe der Benutzer (das sind Sie, das bist Du!) angewiesen sind. Denn Miteinander soll vor allem eines sein: praktisch. Daher warten wir auf Vorschläge für neue Phrasen und bemühen uns dann, für diese Übersetzungen in den wichtigsten Sprachen zu finden. Im Moment sind dies vor allem Arabisch, Kurdisch und Persisch.
  %li!= "Wir freuen uns über jeden Helfer – wer Phrasen, Übersetzungen und Tonaufnahmen einarbeiten möchte, #{link_to('kann sich hier anmelden', new_user_path)}!"
  %li Hat man eine Phrase gefunden, welche man dem Gegenüber mitteilen möchte, so kann man einfach das Lautsprechersymbol berühren (bzw. darauf klicken) und die Phrase wird angezeigt und vorgelesen.
  %li Möchte die/der Gesprächspartner/in antworten, so kann sie/er wiederum in ihrer/seiner Sprache nach einer passenden Antwort suchen und abermals das Lautsprechersymbol berühren und die Phrase wird dieses Mal auf Deutsch angezeigt und vorgelesen.

!= "Bei Fehlern oder Problemen bitten wir darum, uns über die Webseite #{link_to 'GitHub', 'https://github.com/sixtyfive/miteinander/issues'} eine Nachricht zukommen zu lassen. Wir nehmen dort auch gerne Korrekturen oder Erweiterungen entgegen! Viel Erfolg und auf ein allzeit gutes Miteinander!"
