= content_for :aside do

  = simple_form_for :search do |f|
    = f.input :text, autofocus: true, placeholder: t('.placeholder', default: 'Search for phrase or tag…'), label: false, input_html: {autocomplete: 'off'}

  - unless params[:tag].blank?
    #tag_filter
      != t('admin.tag_filter.notice', default: 'Only showing tag <em>%{tag}</em>!', tag: params[:tag].humanize)
      %br/
      = link_to(t('admin.tag_filter.remove_link', default: 'Remove filter?'), url_for(params.merge(tag: nil)))

  %ul#phrases_list
    - @phrases.each do |p|
      %li{class: (p.approved? ? 'complete' : 'incomplete')}
        - p.translations.each do |t|
          = link_to t.text, admin_phrase_path(p, tag: params[:tag])
          .controls
            = link_to_audio t, text: :language
          %br/
        - unless p.tags.blank?
          .tags!= show_tags p

  = link_to fa_icon('plus'), new_admin_phrase_path, {class: 'button'}
