= content_for :aside do

  = simple_form_for :search do |f|
    = f.input :text, autofocus: true, placeholder: t('.placeholder', 'Search for phrase or tag…'), label: false, input_html: {autocomplete: 'off'}

  %ul#phrases_list
    - @phrases.each do |p|
      %li{class: (p.approved? ? 'complete' : 'incomplete')}
        = link_to p.main_translation.text, admin_phrase_path(p)
        .controls 
          - p.translations.each do |t|
            = link_to_audio(t, text: :language)
        - unless p.tags.blank?
          .tags!= show_tags(p)

  = link_to fa_icon('plus'), new_admin_phrase_path, {class: 'button'}
