= content_for :aside do

  = simple_form_for :search do |f|
    = f.input :text, autofocus: true, placeholder: t('.placeholder', default: 'Search for phrase or tag…'), label: false, input_html: {autocomplete: 'off'}

  %ul#phrases_list
    - @phrases.each do |p|
      %li{class: (p.approved? ? 'complete' : 'incomplete')}
        - p.translations.each do |t|
          = link_to t.text, admin_phrase_path(p)
          = link_to_audio t, text: :none
          %br/
        - unless p.tags.blank?
          .tags!= show_tags p

  = link_to fa_icon('plus'), new_admin_phrase_path, {class: 'button'}
