%h1= phrase_heading

- if @phrase.errors.any?
  #error_explanation
    %h3 Bitte folgende Fehler korrigieren:
    %ul
      - @phrase.errors.full_messages.each do |m|
        %li= m

= simple_form_for [:admin, @phrase], html: {multipart: true, authenticity_token: true} do |p|

  -# -------------
  -# Phrase itself
  -# -------------
  %fieldset.phrase
    = p.input :tags
    = p.input :usefulness, as: :integer, input_html: {min: 0, step: 1}
    = p.input :approved
  %fieldset.image_metadata
    = p.input :image_source, as: :url
    = p.input :image_license
  %fieldset.image
    = p.input :image_data, as: :file
    = p.input :image_data_delete, as: :hidden
    - if @phrase.image_data
      = image_tag phrase_path(@phrase, format: :jpg), style: display_none_if_no_image
    - else
      = image_tag('')
    = link_to fa_icon(:remove), {}, class: 'delete', style: display_none_if_no_image

  -# ------------
  -# Translations
  -# ------------
  - @phrase.translations.each do |translation|
    = p.simple_fields_for :translations, translation do |translation_fields|
      = render 'translation', {t: translation_fields}

  -# ----------
  -# Bottom row
  -# ----------
  %fieldset.buttons
    = link_to t('.delete', default: 'Delete phrase and translations'), [:admin, @phrase], method: :delete, data: {confirm: t('.confirmation', default: 'Sure?')}, class: 'delete'
    = p.submit t('.save', default: 'Save')
