%ul.recording
  = t.label "Tonaufnahme" # TODO: i18n!
  = t.input :recording_data, as: :hidden, input_html: {class: 'recording_data', value: nil} # Only for uploading.
  = link_to_play_stop(t.object)
  - if t.object && !t.object.new_record? && t.object.recording_data
    %audio{controls: false, preload: :none, src: translation_path(t.object, format: :mp3)}
    = link_to_record_stop(t.object, overwrite: true)
  - else
    %audio{controls: false, preload: :none}
    = link_to_record_stop(t.object)
