%fieldset.translation
  = t.input :id, as: :hidden # Lest SimpleForm put this outside of the <fieldset>...
  = t.input :language, collection: @supported_languages.map {|l| [l.name, l.language]}
  = t.input :text, input_html: {lang: t.object.language}
  = t.input :transliteration
  = render partial: 'recording', locals: {t: t}
