%h1= @phrase.main_translation.text

.grid-items
  = simple_form_for @phrase do |f|
    = f.input :approved
    = f.input :tags
    = f.input :usefulness
    
  - @phrase.translations.each do |t|
    = simple_form_for t do |f|
      = f.input :text
      = f.input :transliteration
      = f.input :language
