= render partial: 'list'
= content_for :article do
  %h1= @user.name
  = simple_form_for [:admin, @user] do |f|
    = f.input :activation_state, as: :radio_buttons, collection: [[t('.active', default: 'active'), :active], [t('.inactive', default: 'inactive'), :inactive]], label: t('.status', default: 'Status')
    = f.input :admin, as: :boolean
    = f.input :email
    = f.input :name
    = f.submit t('.save', default: 'Save')
