!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title Miteinander: das Phrasenbuch
    = favicon_link_tag
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'admin', 'data-turbolinks-track': true
    = csrf_meta_tags
    = google_webfonts_init font_list # Liste ist im Helper!
  %body{id: controller_as_id}
    %header#header
      = image_tag 'schriftzug.png', alt: 'Miteinander – Das Phrasenbuch'
      - flash.each do |t,msg|
        %div{class: "flash-#{t}"}= msg
      %nav
        = link_to_menu_item 'Phrasen', admin_phrases_path
        = link_to_menu_item 'Benutzer', admin_users_path
        = # link_to_menu_item 'Schlagworte', admin_tags_path
        = link_to_menu_item 'Suchanfragen', admin_searches_path
        = link_to_sign_in_or_out
    %main
      - if content_for? :aside
        %aside{id: "#{model_as_id}_list",}
          = yield :aside
      %article{id: model_as_id}
        = yield :article
