!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title Miteinander: das Phrasenbuch
    = favicon_link_tag
    = stylesheet_link_tag    'admin', media: 'all', data_turbolinks_track: true
    = javascript_include_tag 'admin', data_turbolinks_track: true
    = csrf_meta_tags
    = google_webfonts_init font_list # Liste ist im Helper!
  %body
    %header
      = image_tag 'schriftzug.png', alt: 'Miteinander – Das Phrasenbuch'
      %nav
        = link_to_sign_in_or_out
    %section
      %aside#phraselist
        = render 'admin/phrases/list'
      %article#phrase
        = yield
    %footer
