!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title Miteinander: das Phrasenbuch
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    = google_webfonts_init(font_list) # Liste ist im Helper!
  %body
    %header.small-12.columns
      = show_flashes
      = link_to(image_tag('schriftzug.png', {id: :schriftzug}), root_path)
      %nav
        %ul.inline-list
          %li= link_to fa_icon('map-signs'), page_path(:tag_directory)
          %li= link_to fa_icon('search'), phrases_path
          %li= link_to fa_icon('info-circle'), page_path(:imprint)
          %li= link_to_sign_in_or_out
          %li= link_to_sign_up
    %article{id: controller_and_action}
      .large-12.columns
        = yield
    %footer
      = link_to(image_tag('planfisch.png', {id: :planfisch_logo}), 'http://die-planfische.de/')
      = link_to(image_tag('weitnahbei.png', {id: :weitnahbei_logo}), 'http://weitnahbei.de/')
      = link_to(image_tag('oilnet.png', {id: :oilnet_logo}), 'http://oilnet.de/')
      = # console
    <script>$(document).foundation();</script>
