!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title Miteinander: das Phrasenbuch
    = render 'favicon'
    = google_webfonts_init(font_list) # Liste ist im Helper!
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    %header
      = render 'logo'
      %nav
        %ul
          %li= link_to_menu_item fa_icon('list'), phrases_path, title: 'Phrasenliste'
          %li= link_to_menu_item fa_icon('map-signs'), page_path(:tag_directory), title: 'Themenkatalog'
          %li= link_to_menu_item fa_icon('info-circle'), page_path(:imprint), title: 'Impressum'
          %li= link_to_sign_in_or_out
      = show_flashes
    %main
      %article{id: controller_and_action, class: "#{controller_as_id}_#{params[:id]}"}
        = yield
      %footer
        = image_tag('beta_banner.png', id: 'beta_banner')
