!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miteinander: das Phrasenbuch
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = google_webfonts_init(font_list) # Liste ist im Helper!
  %body
    %header
      = link_to(image_tag('schriftzug', {id: :schriftzug}), root_path)
      %nav
        %ul
          %li= link_to fa_icon('list'), controller: 'phrases'
          %li= link_to_sign_in_or_out
      = show_flashes
    %article{id: controller_and_action}
      = yield
