!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miteinander: das Phrasenbuch
    = stylesheet_link_tag    'application', media: 'all' #, 'data-turbolinks-track' => true
    = javascript_include_tag 'application' #, 'data-turbolinks-track' => true
    = csrf_meta_tags
    = google_webfonts_init(font_list)
  %body
    %header
      %nav.left
        %ul
          %li= link_to fa_icon('list'), controller: 'phrases'
      %h1 Miteinander
      %nav.right
        %ul
          %li= link_to_sign_in_or_out
      = show_flashes
    %article{id: controller_and_action}
      = yield
